<header class="topbar">
  <div class="topbar-left">
    <div class="brand-logo">
      <span class="brand-icon">C</span>
      <span class="brand-text">CampusHub</span>
    </div>
  </div>
  <div class="topbar-right">
    <a href="/login" class="link-muted">Login</a>
    <a href="/student/signup" class="btn btn-primary">Student Sign Up</a>
  </div>
</header>
